.mt100{
    margin-top:100px;
}
.mt20{
    margin-top:20px;
}
.form-row {
    background: #dcdcdc;
    padding-bottom: 15px;
    border-radius: 3px;
    border: solid #dcdcdc 1px;
    margin:auto;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-horizontal {
    width: 400px;
}

.sign-up-header {

    padding: 15px;
    background: white;
    margin-bottom: 10px;
}
.button-register {
    width: 375px;
    margin-left: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}
.button-register:hover {
    background-color: #448ac8;
    color: white;

}
