.mb5{
    margin-bottom:5px;
}
.mb10{
    margin-bottom:10px;
}
.reports-header{
    padding:10px;
    background-color:#e6e6e6;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.label-beside{
    top:7px;
    relative:position;
}